:root {
    --color-pokemonRed: #e4000f;
    --color-darkGrey: rgb(71, 71, 71);
}

.container-teams {
    padding: 30px 30px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px 3px black;
    background-color: var(--color-lightGreen);
}

#myTeams {
    min-height: 200px;
}
#otherTeams {
    min-height: 400px;
}
.team-box {
    margin: 10px 0;
    padding: 5px 10px;
    min-height: 400px;
    width: 515px;
    border-radius: 15px;
    background-color: rgb(140, 170, 125);
}
.team-div {
    position: relative;
    margin-top: 5px ;
    margin-bottom: 5px ;
    padding: 10px 7px;
    width: 500px;
    height: 125px;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: inset 0 0 2px 2px var(--color-whiteGrey);
}

.teamMembers {
    list-style: none;
}
.team-member {
    display: inline-block;
    margin: 0 10px;
    height: 50px;
    width: 50px;
    background-color: whitesmoke;
    box-shadow: inset 0 0 2px 2px var(--color-whiteGrey);
}
.team-btns {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
.edit-btn,
.delete-btn {
    position: relative;
    margin-left: 10px;
    top: 0;
    padding: 5px 10px;
    height: 30px;
    width: 100px;

    color: white;
    font-size: 1em;
    border: none;
    background-color: var(--color-darkGrey);
}
.edit-btn:hover,
.delete-btn:hover {
    background-color: var(--color-pokemonRed);
}