{% layout 'layout.liquid' %}


{% block header %}
<h1>Your Teams</h1>
{% endblock %}


{% block content %}
<div class="container">
            <!-- For loop to display all of your teams in their own divs -->
            <!-- For loop to display all existing teams in their own divs -->
            <!-- only allow edit if the user owns the team -->
</div>
{% endblock %}


{% block footer %}

{% endblock %}