{% layout 'layout.liquid' %}


{% block header %}
<h1>Create New Team</h1>
{% endblock %}
{% block navBar %}
<form action="/pokemon" method="GET">
    <input class="nav-btn" type="submit" value="Back to Pokemon">
    <input class="nav-btn" type="submit" formaction="/team" formmethod="GET" value="back to Teams">
</form>
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-team">
        <form action="/team" method="POST">
            <p class="frm-team-name">Team Name<span class="text-red">*</span>:<input type="text" name="teamName"
                    placeholder="Team Name"></p>
            <p class="frm-team-img">Team Icon:
                <input type="text" name="teamImg" placeholder="Team Icon">
            </p>
            <!-- maybe a color? -->
            <br>
            <br>
            <input class="frm-team-btn" type="submit" value="Create Team">
        </form>
    </div>
</div>
{% endblock %}


{% block footer %}

{% endblock %}